@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	/* height: 100%; */
	overflow-x: hidden;
}

@font-face {
	font-family: pri;
	src: url(./assets/fonts/grafik-font/dxgrafik-semibold.otf);
}

@font-face {
	font-family: sec;
	src: url(./assets/fonts/mekito-font/jtmekitoregular-wowy3.otf);
}

@font-face {
	font-family: blatant;
	src: url(./assets/fonts/blatant-font/Blatant.otf);
}

:root {
	--primary-color: rgb(42, 42, 42);
	--secondary-Color: #fff;
	--primary-font: pri;
	--secondary-font: sec;

	--dark-primary: #0d1321;
	--dark-secondary: #eef5db;
	--dark-three: #283d3b;
	--dark-onyx: #2e3532;
	--dark-accent: #2ba84a;
}

@layer components {
	.center {
		@apply flex justify-center items-center;
	}
	.wh {
		@apply w-full h-screen;
	}
	.maxW {
		@apply max-w-[1200px] m-auto;
	}
	.bb {
		@apply border border-black;
	}
}

.container {
	width: 1200px;
	margin: auto;
}

::selection {
	background-color: var(--dark-accent);
	/* color: var(--dark-onyx); */
}

body {
	font-family: var(--primary-font);
	background-color: var(--dark-primary);
	color: var(--dark-secondary);
}

nav {
	display: flex;
	justify-content: space-between;
	height: 4rem;
	align-items: center;
}

.hero {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.hero h1 {
	font-size: 5rem;
}

.hero p {
	width: 60ch;
}

.gradient {
	background: radial-gradient(
				circle,
				rgb(56, 58, 107) 0%,
				rgba(47, 78, 101, 0) 40%
			) -10rem center,
		radial-gradient(circle, #32363e 0%, rgba(47, 78, 101, 0) 40%) 6rem
			center,
		#0d1321;
	background-size: cover;
	background-repeat: no-repeat;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(132, 132, 132);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(85, 85, 85);
}

.navBorder {
	border: 1px solid #4e4e4e;
	transform: translateX(-50%);
}

.card {
	transition: all 0.3s ease-in-out;
}

.card:nth-child(2) {
	margin-top: 10rem;
}
.card:nth-child(3) {
	margin-top: -8rem;
}

.card:nth-child(1):hover {
	background-color: #c93202;
}
.card:nth-child(2):hover {
	background-color: #c6cece;
	color: #0d1321;
}
.card:nth-child(3):hover {
	background-color: var(--dark-accent);
}
.card:nth-child(4):hover {
	background-color: #decf3e;
	color: #0d1321;
}

.testimonalSection {
	user-select: none;
}

.heroBefore::before {
	content: 'Explore My Creative Canvas';
	font-size: 1rem;
	color: #4a5568;
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	letter-spacing: 0.05rem;
	text-transform: capitalize;
	display: block;
	/* margin-bottom: 0.5rem; */
	font-family: blatant;
}

.textStroke {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px white;
	color: transparent;
	transition: all 0.3s ease;
}

.textStroke:hover {
	-webkit-text-fill-color: white;
	color: white;
}
